.container-for-feature {
    display: flex;
    gap: 1rem;
}

.left-column-feature,
.right-column-feature {
    flex: 2;
    flex-direction: column;
}

.right-column-feature {
    position: relative;
}

.right-column-feature img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 16px;
}

.text-content {
    display: flex;
    flex-direction: column;
}

.headerlogo,
.icon-images {
    align-self: center;
}

h2 {
    font-weight: bold;
    align-self: center;
}

h3:first-of-type {
    margin-block-start: 0em;
}

.title-h3 {
    font-size: 0.9rem;
    font-weight: bold;
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 1rem;
    padding-inline-start: 0px;
}

ul li {
    font-size: 0.8rem;
    font-weight: bold;
}

.price-and-buttons {
    display: flex;
    gap: 0.5rem;
    align-self: center;
}

@media only screen and (max-width: 933px) {
    .icon-images img {
        width: 82px;
        height: 82px;
    }
}

@media only screen and (max-width: 757px) {
    .icon-images img {
        width: 72px;
        height: 72px;
    }
}

@media only screen and (max-width: 677px) {
    .icon-images img {
        width: 62px;
        height: 62px;
    }
}

@media only screen and (max-width: 597px) {
    .icon-images img {
        width: 58px;
        height: 58px;
    }
}

@media only screen and (max-width: 565px) {
    .icon-images img {
        width: 54px;
        height: 54px;
    }
}

@media only screen and (max-width: 533px) {
    .icon-images img {
        width: 52px;
        height: 52px;
    }
}

@media only screen and (max-width: 517px) {
    .icon-images img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 501px) {
    .icon-images img {
        width: 48px;
        height: 48px;
    }
}

@media only screen and (max-width: 485px) {
    .icon-images img {
        width: 46px;
        height: 46px;
    }
}

@media only screen and (max-width: 469px) {
    .icon-images img {
        width: 43px;
        height: 43px;
    }
}

@media only screen and (min-width:331px) and (max-width: 450px) {
    .icon-images img {
        width: 66px;
        height: 66px;
    }
}

@media only screen and (min-width:315px) and (max-width: 330px) {
    .icon-images img {
        width: 62px;
        height: 62px;
    }
}

@media only screen and (min-width:299px) and (max-width: 314px) {
    .icon-images img {
        width: 58px;
        height: 58px;
    }
}

@media only screen and (min-width:275px) and (max-width: 299px) {
    .icon-images img {
        width: 52px;
        height: 52px;
    }
}

@media only screen and (min-width:259px) and (max-width: 274px) {
    .icon-images img {
        width: 48px;
        height: 48px;
    }
}

@media only screen and (min-width:243px) and (max-width: 259px) {
    .icon-images img {
        width: 44px;
        height: 44px;
    }
}

@media only screen and (max-width: 242px) {
    .icon-images img {
        width: 38px;
        height: 38px;
    }
}

@media only screen and (max-width: 450px) {
    .container-for-feature {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
    }

    .right-column-feature {
        order: 1;
    }

    .right-column-feature img {
        width: 100%;
        height: 25rem;
    }

    .left-column-feature-2 {
        margin-top: 25rem;
    }

    .container-for-all-feature-containers {
        margin-bottom: 25rem;
    }
}

@media only screen and (max-width: 277px) {
    .price-and-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .price-and-buttons>* {
        align-self: center;
        width: 100%;
        box-sizing: border-box;
    }
}