

.upper-block h1{
    font-size: 1rem;
    color: #828282;
}

.upper-block {
    display: flex;
    justify-content: space-between;
}

.container-for-all-feature-containers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container-for-feature {
    display: flex;
    gap: 1.5rem;
}

.left-column-feature,
.right-column-feature {
    flex: 1; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.right-column-feature {
    flex-grow: 1;
    position: relative;
}

.right-column-feature img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 16px;
}

.title-h3 {
    font-size: 0.9rem;
}

@media only screen and (max-width: 933px) {
    .icon-images img{
        width: 82px;
        height: 82px;
    }
}

@media only screen and (max-width: 757px) {
    .icon-images img{
        width: 72px;
        height: 72px;
    }
}

@media only screen and (max-width: 677px) {
    .icon-images img{
        width: 62px;
        height: 62px;
    }
}

@media only screen and (max-width: 597px) {
    .icon-images img{
        width: 52px;
        height: 52px;
    }
}

@media only screen and (max-width: 517px) {
    .icon-images img{
        width: 42px;
        height: 42px;
    }
}

@media only screen and (max-width: 437px) {
    .icon-images img{
        width: 38px;
        height: 38px;
    }
}

@media only screen and (max-width: 400px) {
    .container-for-feature {
		display: flex;
		flex-direction: column;
		gap: 0.1rem;
	}

	.right-column-feature {
		order: 1;
	}

	.right-column-feature img {
		width: 100%;
		height: 8rem;
	}

    .left-column-feature-2 {
        margin-top: 8rem;
    }

    .container-for-all-feature-containers {
        margin-bottom: 8rem;
    }
}