.title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../images/background-img.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;  
}

h1,
h2 {
    color: rgba(255, 255, 255, 0.8);
}

.learn-more {
    display: inline-block;
    background-color: black;
    padding: 16px 20px;
    border-radius: 8px;
    margin: 20px;   
    align-self: center;
}

.learn-more a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
}

.learn-more :hover {
    background-color: #404040;
}