
/*TITLE AREA*/

.title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../images/background-img.jpg);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;  
    padding: 0.5rem;
    border-radius: 16px;
}

h1.title,
h2.title {
    color: rgba(255, 255, 255, 0.8);
}

.learn-more{
    display: inline-flex;
    background-color: black;
    padding: 16px 20px;
    border-radius: 8px;
    margin: 20px;  
    text-align: center; 
}

.learn-more a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none; 
}

.learn-more :hover {
    background-color: #404040;
}


/*MEN*/

.container-for-mens-section{
    display: flex;
    margin-bottom: 10px;
    gap: 1rem;
}

.left-column {
    display: flex;
    flex: 1;
}

.right-column {
    display: flex;
    flex: 1;
    justify-content: flex-end; 
}

.right-column img {
    width: 100%;
    max-height: 334px;
    object-fit: cover;
    border-radius: 16px;
    align-items: stretch;
}

.left-column h3 {
    color: #828282;
}


/*BUTTONS*/

.shop-mens-collection {
    display: inline-flex;
    background-color: black;
    padding: 16px 20px;
    border-radius: 8px;
    font-size: 0.8rem;
    justify-content: center;
    text-align: center;
}

.shop-mens-collection a,
.learn-more-medium a {
    color: #fff;
    text-decoration: none;
}

.learn-more-medium {
    font-size: 0.8rem; 
    display: inline-flex; 
    align-items: center;
    background-color: black;
    padding: 16px 20px;
    border-radius: 8px;
    margin: 20px;  
}

.learn-more-medium a{
    text-decoration: none;
}


.learn-more-small {
    font-size: 0.7rem; 
}

.learn-more-small a {
    color: #000;   
}




/*WOMEN*/

.container-for-womens-section{
    display: flex;
    gap: 1rem;
}

.left-column-women {
    display: flex;
    flex: 1;
}

.left-column-women img {
    width: 100%;
    max-height: 334px;
    object-fit: cover;
    border-radius: 16px;
    align-items: stretch;
}

.right-column-women {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.right-column-women h3 {
    color: #828282;
}



/*FEATURES*/


.features-main-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: center;
    gap: 1.5rem 2rem;
}

.feature-item {
    display: flex;
    flex-direction: column;
    
}

.feature-description-text {
    max-width: 8rem;
}


/*BUTTON*/
.learn-more-medium-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.learn-more-medium {
    text-align: center;
}





/*THE ORANGE CTA BLOCK*/

.cta-block {
    background-color: rgb(255, 171, 91, 1);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 1rem;
}

.cta-block h2, 
.cta-block h3, 
.cta-block p {
    color: #fff;
}

.cta-block h2 {
    font-size: 1.3rem;
}

.cta-h3 {
    max-width: 16rem;
    margin-top: 1rem;
}

.cta-buttons-section {
    display: flex;
    align-content: center;
    gap: 0.8rem;  
}

.cta-buttons-and-stars-section {
    display: flex;
    flex-direction: column;
}

.cta-stars {
    text-align: center;
}

.button-in-cta-block {
    display: inline-block;
    background-color: black;
    padding: 16px 20px;
    border-radius: 8px;
}

@media screen and (min-width: 600px) {
    .cta-block {
        align-items: flex-start;
        gap: 1rem;
    }
}

@media screen and (max-width: 350px) {
    
    .cta-buttons-section {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .button-in-cta-block {
        margin: 0.3rem;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }

    .cta-stars {
        margin-top: 1rem;
    }

    .cta-block img {
        width: 100%;
    }
}

@media screen and (max-width: 285px) {
    .container-for-mens-section, .container-for-womens-section {
        display: flex;
        flex-direction: column; 
    }

    .shop-mens-collection {
        width: 100%;
        box-sizing: border-box;
    }

    .left-column-women {
        order: 1;
    }
}

