


.headerlogo{
    width: 100px;
    height: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
    font-family: "Roboto Condensed", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    align-items: center;
    padding: 0 10px;     
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    border-radius: 20px;
}

nav a.current-page {
    color: #333;
}



@media screen and (max-width: 600px) {

    .logo-container {
        margin-right: auto;
    }

    header {
        position: relative;
        padding: 10px;
        font-size: 2rem;
        z-index: 1000;
    }

    nav,
    #menu-checkbox {
        display: none;
    }

    nav {
        position: absolute;
        background: white;
        top: 3.5rem;
        padding: 0;
    }

    nav a {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        padding: 0.5rem;
        font-size: 1rem;
        margin-right: 0;
    }

    nav .dropdown a {
        padding: 0.5rem;
    }
   
    #cart-tag {
        display: none;
    }

    nav a[href="women.html"] {
        margin-bottom: -10px;
    }

    .dropdown .dropdown-content {
        display: block; /* Display the dropdown content as a block */
        position: static;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }

    #menu-checkbox:checked ~ nav {
        display: block;
    }

}


@media (min-width: 601px) {
    nav {
        display: block;
    }

    .hamburger-icon, #menu-checkbox {
        display: none;
    }
}

    nav a:hover {
        color: black;
    }

    .dropdown {
        position: relative; 
        display: inline-block;     
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        transition: display 0.3s ease;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        padding: 10px 5px;
    }

    .dropdown a {
        display: block;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }

    .dropdown-content a {
        border-top: 1px solid transparent #ccc;
        display: block;
        padding: 10px 20px;
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
    }

    body {
        padding: 20px;
        height: 100vh;
        font-family: "Roboto Condensed", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    h1, h2 {
        text-align: center; 
        width: 100%;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1rem;
    }

    .left-aligned-h2,
    .product-description-header {
        text-align: left;
    }

    h3 {
        font-size: 0.8rem;
    }
      
      main {
        flex: 1;
      }

      .basic-button {
        display: inline-flex;
        align-items: center;
        background-color: black;
        padding: 0.8rem 1rem;
        border-radius: 8px;  
        width: fit-content;
    }
    
    .basic-button a {
        color: #fff;
        text-decoration: none; 
    }
    
    .basic-button :hover {
        background-color: #404040;
    }

    /*Footer styles*/

    footer {
        background-color: black;
        color: white;
        padding: 20px;
        font-family: "Roboto Condensed", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 1rem;
        bottom: 0;
        width: 100%;
        box-sizing: border-box;
    }

    /*Arrange sections in a row*/
    footer section {
        display: flex;
        justify-content: space-between;
    }

    /*Logo styles*/

    footer img {
        width: 100px;
        height: auto;
    }

    /*Copyright text styles*/

    footer section:nth-child(1) div:nth-child(2) {
        text-align: center;
        margin: 10px;
    }

    /*Social media icons styles*/ 
    footer section:nth-child(1) div:nth-child(3) img{
        width: 30px;
        height: auto;
        margin: 0 px;
    }

    /*Separator line styles*/

    .separator-line {
        height: 1px;
        background-color: rgba(255, 255, 255, 0.50);
        margin: 15px auto;
    }

    /* Navigation links styles*/

    footer section:nth-child(3) a {
        display: flex;
        color: rgba(255, 255, 255, 0.50);
        text-decoration: none;
        margin-bottom: 5px;
    }

    footer section:nth-child(3) a:hover {
        border-bottom: 1px solid rgba(255, 255, 255, 0.50);
        display: inline-block; /* Set to inline block to match the width of the text*/
    }

    @media only screen and (min-width: 450px) and (max-width: 600px) {
        .footerlinks {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }

    @media only screen and (max-width: 600px) {
        footer section{
            flex-direction: column;
        }

        footer section > div {
            text-align: center;
        }

        footer section > div a {
            text-align: left;
        }
    }