

.upper-block h1,
.upper-block .back-arrow {
    font-size: 1rem;
    color: #828282;
    text-decoration: none;
}

.container-for-all-feature-containers {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container-for-feature {
    display: flex;
    max-width: 70rem;
    align-self: center;
    gap: 1.5rem;
}

.left-column-feature,
.right-column-feature {
    flex: 2; 
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.right-column-feature {
    flex: 2;
    position: relative;
}

.right-column-feature img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 16px;
}

.title-h3 {
    font-size: 0.9rem;
}

@media only screen and (max-width: 933px) {
    .icon-images img{
        width: 82px;
        height: 82px;
    }
}

@media only screen and (max-width: 757px) {
    .icon-images img{
        width: 72px;
        height: 72px;
    }
}

@media only screen and (max-width: 677px) {
    .icon-images img{
        width: 62px;
        height: 62px;
    }
}

@media only screen and (max-width: 597px) {
    .icon-images img{
        width: 52px;
        height: 52px;
    }
}

@media only screen and (max-width: 517px) {
    .icon-images img{
        width: 42px;
        height: 42px;
    }
}

@media only screen and (max-width: 437px) {
    .icon-images img{
        width: 38px;
        height: 38px;
    }
}

@media only screen and (max-width: 850px) {
    .container-for-feature {
		display: flex;
		flex-direction: column;
		gap: 0.1rem;
	}

	.right-column-feature {
		order: 1;
	}

	.right-column-feature img {
		width: 100%;
		height: 25rem;
	}

    .left-column-feature-2 {
        margin-top: 25rem;
    }

    .container-for-all-feature-containers {
        margin-bottom: 25rem;
    }
}

@media only screen and (min-width: 1020px) {
    .right-column-feature img {
        max-width: 100%;
        min-height: 20rem;
        height: 100%;
        position: absolute;
        object-fit: cover;
        border-radius: 16px;
    }

}

@media only screen and (min-width: 1148px) {
    .container-for-all-feature-containers {
        gap: 6rem;
    }
}

@media only screen and (min-width: 1400px) {
    .container-for-all-feature-containers {
        gap: 7rem;
    }
}